@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    margin: 0 !important;
  }

  .no-print {
    display: none !important;
  }

  .paper {
    box-shadow: none !important;
    margin: 0 auto !important;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
